* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  background-color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.logo-nav {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 80%;
}

.title {
  text-transform: capitalize;
}

.logo,
.nav {
  width: 50%;
}

.logo-img-cont {
  width: 10%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(20, 27, 41) 0px -15px 25px
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-btn {
  padding: 10px 40px;
  text-transform: capitalize;
  background-color: rgb(58, 134, 255);
  border: none;
  border-radius: 5px;
  color: white;
}

.my-home {
  background-color: white;
  width: 100%;
  padding-top: 80px;
}

.row {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.col1,
.col2 {
  width: 40%;
}

.col1-header {
  padding-bottom: 10px;
}

.hero-cont {
  width: 100%;
}

.hero-cont>.hero-img {
  width: 100%;
}

.about {
  color: white;
  padding: 40px 0;
  text-align: center;
}

.left,
.right {
  /* color: white; */
  width: 50%;
}

.about-about {
  background-color: rgb(255, 255, 255);
}

.left>h2 {
  padding: 10px 0;
}

.left>p {
  padding: 10px 0;
  font-size: 14px;

}

.right>h2 {
  padding: 10px 0;
}

.right>p {
  padding: 10px 0;
  font-size: 14px;

}

.row1 {
  padding: 60px 0;
}


.cards {
  width: 100%;
  padding: 50px 0;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: rgb(255, 255, 255);
}

.card {
  width: 30%;

  /* border: 1px solid red; */
}

.card>h3 {
  padding: 10px 0;
}

.card>p {
  padding-bottom: 10px;
  line-height: 1.7;
  font-size: 15px;
}

.number {
  width: 20px;
  height: 20px;
  background: black;
  color: white;
  text-align: center;
  margin: 10px 0;
}

.card-btn-cont {
  padding: 10px 0;
  width: 100%;
}

.card-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 7px 0;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 16px;
  background-color: rgb(58, 134, 255);
  border: none;
  color: white;
}

.get-btn {
  padding: 10px 25px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.get-started-btn {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  text-align: center;
  color: black;
  padding: 20px 0;
}

.footer>h3 {
  font-size: 15px;
}

.icons {
  display: flex;
  gap: 10px;
  padding: 30px 0;
  justify-content: center;
}

.fa-brands {
  color: black;
}

.footer-bg {
  background-color: rgb(255, 255, 255);

}

.box {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

a {
  text-decoration: none;
}

.box-child {
  border: 1px solid #3a86ff;
  text-transform: uppercase;
  width: 30%;
  height: 50px;
  position: relative;
  border-radius: 5px;
}

.share {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #3a86ff;
}

.box-child>p {
  color: #3a86ff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.defi {
  background-color: #3a86ff;
}

.defi>p {
  color: white;
}

.connect {
  text-align: center;

}

.connect>.connect-heading {
  font-size: 40px;
  text-transform: capitalize;
}

.wallets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

.wallet-container {
  padding: 20px 10px;
}

.wallet {
  width: 15%;
  margin-top: 10px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;

}

.all {
  width: 100%;
  border: 1px solid red;
}

.wallet-img-cont {
  width: 5rem;
  height: 5rem;
  justify-items: center;
  display: flex;
  padding: 20px 0;


}

.wallet-img {
  width: 90%;
  margin: 0 auto;
  border-radius: 100%;

}

.wallet-name {
  width: 100%;
  /* background-color: red; */
  text-align: center;
  padding: 20px 0;
}

.wallet-img {
  width: 100%;
  /* border: 1px solid red; */
}

.connect-wallet {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(197, 199, 200) 0px -15px 25px;
  width: 40%;
  border-radius: 10px;
  left: 30%;
  height: 300px;
  position: fixed;
  top: 50%;
  display: none;
}

.manual {
  border: 1px solid red;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(209, 209, 209);
  border-radius: 7px;
  padding: 20px 0;
}

.wallet-name1 {
  text-align: start;
  padding: 20px 0;
  border: 1px solid red;
  border-radius: 7px;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(209, 209, 209);
}

.fa-xmark {
  font-size: 20px;
  display: flex;
  color: #3a86ff;
  align-items: center;
  justify-content: flex-end;
}

.status .manual-btn {
  width: 50%;
  text-align: start;
  display: flex;
  justify-content: flex-end;
}

.manually {
  padding: 13px 30px;
  background: #3a86ff;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;



}

.hide {
  display: none;
}

.show {
  display: block;
}

.value {
  text-transform: capitalize;
  color: blue;
}

.height {
  height: 100vh;
  background: #0d6efd;
  position: fixed;
  width: 100%;
}

.form-heading {
  text-align: center;
  color: white;
  padding: 25px 0;
}

.import {
  font-size: 30px;
}

.key {
  font-size: 13px;
}

.phrase-menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.form-container {
  width: 70%;
  margin: 0 auto;

}

.recovery {
  font-size: 13px;
    padding: 10px 0;
}

.form {
  background-color: white;
  height: 300px;
}

.input {
  width: 100%;
  /* padding: 60px 0; */
  height: 100px;
}

.words {
  font-size: 14px;
  font-weight: 100;
  padding: 5px 0;
}
.wallet-import{
  width: 100%;
}
.form-box{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.wallet-import{
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: #0150b8 !important;
  color: white;
  font-size: 16px;
}












@media screen and (max-width:600px) {
  .row {
    display: block;
  }

  .col1,
  .col2 {
    width: 100%;
    padding: 10px 0;
  }

  .left,
  .right {
    width: 100%;
    padding: 20px 0;
  }

  .cards {
    display: block;
    border: none;
  }

  .card {
    width: 100%;
    padding: 20px 0;
  }

  .card-btn {
    padding: 15px 25px;
    border-radius: 3px;
  }

  .box {
    display: flex;
    flex-direction: column;

  }

  .box-child {
    width: 100%;
  }

  .header-logo {
    width: 100%;
  }

  .wallets {
    padding: 20px 0;
  }

  .wallet {
    width: 30%;
  }

  .wallet-img-cont {
    width: 100%;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .wallet-img {
    margin: 0;
    width: 50px;
    height: 50px;
  }

  .wallet-name {
    padding: 0;
  }

  .connect>.connect-heading {
    padding: 10px 0;
  }

  .connect>p {
    font-size: 15px;
    letter-spacing: 1.3px;
  }

  .connect-wallet {
    width: 100%;
    left: 0;
    top: 70%;
  }
  .form-container{
    width: 100%;
  }
}